parameters:
    level: 5
    paths:
        - src
    scanDirectories:
        - stubs
    excludePaths:
        - tests/
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        -
            identifier: property.onlyWritten
            path: src/Extension/SecurityExtension.php
